[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "meta/nord-dircolors"]
	path = meta/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
