[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nord-dircolors"]
	path = nord-dircolors
	url = git@github.com:arcticicestudio/nord-dircolors.git
	ignore = dirty
