[alias]
	aa = add .
	b = branch
	bd = branch -D
	btb = bisect bad
	bts = bisect start
	btg = bisect good
	btr = bisect reset
	c = commit
	ca = commit --amend --no-edit
	cm = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	cpc = cherry-pick --continue
	df = diff
	dfc = diff --cached
	l = log
	ls = ls-files
	f = fetch
	ph = push origin
	phf = push origin -f
	pl = pull origin
	mg = merge
	mga = merge --abort
	sh = stash
	sha = stash apply
	shp = stash pop
	shl = stash list
	st = status
	rb = rebase
	rbc = rebase --continue
	rt = reset
	rta = reset .
	rth = reset --hard
[user]
	name = Michael Carlson
	email = Michael.Carlson2@extendhealth.com
