[alias]
  aa = add .
  b = branch
  bd = branch -D
  btb = bisect bad
  bts = bisect start
  btg = bisect good
  btr = bisect reset
  c = commit
  ca = commit --amend --no-edit
  cm = commit -m
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  cpc = cherry-pick --continue
  df = diff
  dfc = diff --cached
  l = log
  ls = ls-files
  f = fetch
  ph = push origin
  phf = push origin -f
  pl = pull origin
  mg = merge
  mga = merge --abort
  mt = mergetool
  sh = stash
  sha = stash apply
  shp = stash pop
  shl = stash list
  st = status
  rb = rebase
  rbc = rebase --continue
  rbi = rebase -i
  rba = rebase --abort
  rbs = rebase --skip
  rt = reset
  rta = reset .
  rth = reset --hard
  rts = reset --soft
[user]
  name = <firstName> <lastName>
  email = <gitEmail>
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  cmd = vimdiff $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE
